:host {
  display: block;
  
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #8B5E3C !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--focused {
  --mdc-outlined-text-field-focus-border-color: #8B5E3C !important;
  --mdc-outlined-text-field-focus-label-text-color: #8B5E3C !important;
  --mdc-theme-primary: #8B5E3C !important; 
}

::ng-deep .mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #8B5E3C !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #704936 !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  font-weight: 600;
}

.login-background {
  min-height: 100vh;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-brown-btn {
  background-color: #8B5E3C !important;
  color: white !important;
}

::ng-deep .mat-mdc-tab-group .mdc-tab-indicator__content--underline {
  border-color: #8B5E3C !important;
}

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #8B5A2B !important;
  } 
  
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #8B5A2B !important;
  }

::ng-deep input:-webkit-autofill,
::ng-deep input:-webkit-autofill:hover, 
::ng-deep input:-webkit-autofill:focus, 
::ng-deep input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; 
  -webkit-text-fill-color: #000000 !important;
}