<h2 mat-dialog-title class="text-lg font-semibold text-slate-800 p-4">
  {{ data ? 'Edit Rental' : 'Create Rental' }}
</h2>

<div mat-dialog-content class="space-y-4 pt-2">
  <form [formGroup]="form" class="flex flex-col gap-4 p-3">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker"/>
      <mat-datepicker-toggle matSuffix [for]="startPicker" style="color: #8B5E3C;"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate"/>
      <mat-datepicker-toggle matSuffix [for]="endPicker" style="color: #8B5E3C;"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="RETURNED">RETURNED</mat-option>
        <mat-option value="PENDING">PENDING</mat-option>
        <mat-option value="EXPIRED">EXPIRED</mat-option>
        <mat-option value="APPROVED">APPROVED</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions class="!px-6 !py-4 !mt-4 flex justify-end gap-3">
  <button mat-stroked-button type="button" (click)="close()">Cancel</button>

  <button 
    mat-flat-button 
    [style.background-color]="'#8B5E3C'" 
    [style.color]="'#ffffff'" 
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
