<h2 mat-dialog-title class="text-xl font-semibold text-slate-900 !mb-4">
  Edit Client
</h2>

<mat-dialog-content class="!p-0">
  <form [formGroup]="form" class="flex flex-col gap-4 px-6 py-4">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="string" formControlName="name" />
      <mat-error *ngIf="form.get('name')?.hasError('pattern')">
        Name can contain only letters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Surname</mat-label>
      <input matInput type="string" formControlName="surname" />
      <mat-error *ngIf="form.get('surname')?.hasError('pattern')">
        Surname can contain only letters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="string" formControlName="email" />
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" formControlName="phoneNumber" />
      <mat-error *ngIf="form.get('phoneNumber')?.hasError('pattern')">
        Phone number must contain only digits
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>City</mat-label>

      <mat-select formControlName="cityId">
        <mat-option *ngFor="let city of cities" [value]="city.id">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Type</mat-label>
      <mat-select formControlName="clientType">
        <mat-option value="STANDARD">STANDARD</mat-option>
        <mat-option value="GOLD">GOLD</mat-option>
        <mat-option value="PLATINUM">PLATINUM</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="!px-6 !py-4 !mt-4 flex justify-end gap-3">
  <button mat-stroked-button type="button" (click)="close()">Cancel</button>

  <button mat-flat-button [style.background-color]="'#8B5E3C'" 
  [style.color]="'#ffffff'" type="button" (click)="save()" [disabled]="form.invalid">
    {{ data ? 'Save changes' : 'Create camera' }}
  </button>
</mat-dialog-actions>
