<div class="rounded-xl border border-slate-200 bg-white shadow-sm overflow-hidden">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Client -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-slate-600 font-semibold">Name</th>

      <td mat-cell *matCellDef="let client" class="py-3">
        <span class="font-medium text-slate-800">
          {{ client.name }}
        </span>

        <span class="text-slate-500 ml-1">
          {{ client.surname }}
        </span>
      </td>
    </ng-container>

    <!-- Condition -->

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-slate-600 font-semibold">Email</th>

      <td mat-cell *matCellDef="let client" class="py-3 text-slate-700">
        {{ client.email }}
      </td>
    </ng-container>

    <!-- Price -->

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-slate-600 font-semibold">Phone Number</th>

      <td mat-cell *matCellDef="let client" class="py-3">{{ client.phoneNumber }}</td>
    </ng-container>

    <!-- Year -->

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-slate-600 font-semibold">City</th>

      <td mat-cell *matCellDef="let client" class="py-3">
        {{ client.city.name }}
      </td>
    </ng-container>

    <!-- Status -->

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-slate-600 font-semibold">Type</th>

      <td mat-cell *matCellDef="let client">
        <span
          class="px-3 py-1 text-xs font-medium rounded-full"
          [ngClass]="{
            'bg-green-100 text-green-700': client.status === 'AVAILABLE',

            'bg-yellow-100 text-yellow-700': client.status === 'RENTED',

            'bg-red-100 text-red-700': client.status === 'DAMAGED',
          }"
        >
          {{ client.clientType }}
        </span>
      </td>
    </ng-container>

    <!-- Actions -->

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef  class="text-slate-600 font-semibold text-right">
        Actions
      </th>

      <td mat-cell *matCellDef="let client" class="py-3 text-right space-x-2">
        <button mat-stroked-button [style.color]="'#8B5E3C'" (click)="editClient.emit(client)">Edit</button>

        <button mat-stroked-button color="warn" (click)="deleteClient.emit(client.id)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="hover:bg-slate-50 transition"
    ></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
